/* entire container, keeps perspective */
.CardFlip {
  perspective: 1000px;
  cursor: pointer;
  margin: 10px;
}

.CardFlip, .CardFlip img {
  height: 600px;
  width: 420px;
}

.CardFlip img {
  border: 1px solid black;
}

/* flip speed goes here */
.CardFlip .flipper {
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
}

/* flip the pane when hovered */
.CardFlip:hover .flipper {
  transform: rotateY(180deg);
}

/* hide back of pane during swap */
.CardFlip .front, .CardFlip .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.CardFlip .front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.CardFlip .back {
  transform: rotateY(180deg);
}